.search_brand {
    margin: 40px auto;
}

.-right {
    text-align: right !important;
}
.-center {
    text-align: center !important;
}

/* ====== 조건박스 
.select_for_brand {
    
}*/
.-first {
    width: 800px;
    float: left;
}
.-second {
    width:250px;
    float: right;
}

.search_options div {
    height:150px;
    display: inline-block;
}

/* ====== TABLE */
.search_brand_table a {
    color: #222222;;
    font-size: 15px;
}

.big_sort {
    font-weight: 600;
} /* 요식업 도소매 서비스 '만' */
.uk-table {
    margin-top: 110px;
}
th {
    font-weight: bold !important;
    border-bottom: 3px !important;
}

#sival {
    border: 1px double rgb(241, 241, 241);
    border-radius: 12px;
    padding: 30px;
}

.label_box {
    display: table-cell;
    vertical-align: middle;
    height:60px !important;
    padding-left: 54px;
    margin-top: 20px;
}
.-l1st {
    padding-left: 0px;
}
label{
    font-weight:600;
    color: #666;
    display: inline-block;
    width: 70px;
}
.-submit {
    font-size: 14px;
    float: right;
    margin-right: 5px;
}
