.contents_find_id {
    width: 800px;
    margin: 40px auto;
    height: 600px;
}

/* inner card */

.-title_find_id {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.9rem;
}

.contents_find_id table.find_table {
    margin: 0 auto;
}.contents_find_id table.find_table td {
    padding-bottom: 20px;
}
.contents_find_id .-submit_button {
    position: relative;
    top: 50%;
    left: 54.5%;
    padding: 0 15px;
}

.contents_find_id table.find_table td:nth-child(2) {
    width: 250px;
}
input#mm, #dd {
    width: 77px;
}

/* login.css로부터 상속 */


.bigger {
    font-size: 16px;
}

.hr {
    margin: 30px auto 5px;
    border-top: 1px solid #e5e5e5;
}
.help_util {
    margin: 0 auto;
    text-align: center;
}