.contents_partners {
    width: 1300px;
    margin: 0 auto;
}
.inner_partners {
    width: 400px;
    margin: 20px auto !important;
}
.-for_br {
    padding: 0 !important;
    margin:0 !important;
}
.second_filter {
    display: none;
}
.uk-subnav-pill>.hr-active>a {
    background-color: #1e87f0;
    color: #fff;
}
.contents_partners hr {
    width: 70% ;
    margin: 30px auto;
}

/* 카드 관련 css */
.card_details  {
    margin-top: 10px;
    font-weight: 500;
}
.card_details > p {
    width: 250px;
    margin: 5px 0;
    position: relative;
    text-align: initial;
    color: #666;
}
.card_details > p > span {
    padding: 0 7px;
}
.pts_card_title {
    font-weight: 600;
}
.pts_card_local {
    position: absolute;
    right: 10px;
}
.pts_card_sort_big {
    padding-right: 0 !important;
}
.pts_card_sort_small {
    padding-left: 0 !important;
}
.pts_card_hashtag {
    
    font-size: 12px;
}
.card_details > p > button {
    text-align: right;
}