.search_brand {
    margin: 40px auto;
}

.-right {
    text-align: right !important;
}
.-center {
    text-align: center !important;
}

/* ====== 조건박스 */
.search_options {
    height:200px;
}

.search_options div {
    height:200px;
}

/* ====== TABLE */
.search_brand_table a {
    color: #222222;;
    font-size: 15px;
}

.big_sort {
    font-weight: 600;
} /* 요식업 도소매 서비스 '만' */
th {
    font-weight: bold !important;
    border-bottom: 3px !important;
}

#sival {
    border: 1px double rgb(241, 241, 241);
    border-radius: 12px;
    padding: 30px;
}

.label_box_1st {
    display: table-cell;
    vertical-align: middle;
    height:70px !important;
}
.label_box {
    display: table-cell;
    vertical-align: middle;
    height:70px !important;
    padding-left: 54px;
}
label{
    font-weight:600;
    color: #666;
    display: inline-block;
    width: 70px;
}
.-submit {
    font-size: 14px;
    float: right;
    margin-right: 75px;
}
/*
.form_2nd {
    margin-top: 20px;
}
*/