.contents_signup {
    width: 800px;
    margin: 40px auto;
}
.uk-card {
    background-color: #fafafa;
}

/* ============== signup_terms.html */
.terms_box {
    overflow: auto;
    height: 122px;
    border: 1px solid #dadada;
    background-color: #fff;
    padding: 12px;
    font-size:10px;
}
.title_box {
    margin: 45px auto 8px;
}
.terms_title {
    display: inline;
}
.terms_title_first {
    font-weight: 600 !important;
}

.btn-signup_terms {
    color: #fff;
    float: right;
    margin-top:40px;
}

/* =========================================== signup.html */
.form_signup {
    text-align: center;
}


.-title_signup {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.9rem;
}
.signup_row {
    margin-bottom: 20px;
}
.signup_title {
    font-size: 1rem ;
    font-weight: 600;
    width: 400px;
    margin: 0 auto 8px;
    text-align: left;
}
.lead_in_signup {
    margin: 20px auto 5px !important;
}
.signup_title>label {
    padding: 5px;
}
.-size_control {
    width: 400px;
}

.yymmdd-size_control {
    width: 90px;
    margin-left: 14px;
}
.yymmdd-size_control_2x {
    width: 180px;
}
.telecom-size_control {
    width: 120px;
}
.phone-size_control {
    width: 280px;
}


.signup-small {
    font-size: 12px;
    font-weight: 500;
    color: #777;
}
.signup_info {
    color: #888;
}
.signup_hr {
    border-top: 1px solid #e5e5e5;
    width: 400px;
    height: 0;
    margin: 30px auto 20px;
}

/* Input 숫자일때, 옆에 화살표 없애주는 코드 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* 아이디 중복확인 관련 css */
#id {
    width:300px;
}
button.i_c {
    width: 100px;
    height: 40px;
    padding: 0 10px;
    background-color: #fff;
    margin-top : 0;
}
button.i_c:hover {
    background-color: #fff;
    margin-top : 0;
}

button.id_check_done {
    background-color: rgb(22, 236, 161);
    border : 0;
    color: #fff;
    font-weight: 600;
}
button.id_check_done:hover {
    width: 100px;
    height: 40px;
    padding: 0 10px;
    background-color: rgb(68, 255, 190);    
    color: #fff;
}

.-display_for_signup {
    display: none;
}