{% extends 'layout.html' %}

{% block contents %}

<link rel="stylesheet" href="{{ url_for('static', filename='./css/login.css') }}">
<script src="{{ url_for('static', filename='./js/check_pw.js') }}"></script>
<title>당신의 프랜차이즈</title>

{% include 'header.html' %}


<div class="contents_login">
    <div class="uk-card uk-card-default uk-card-body -height" style="background-color: #fafafa;">
        <h4 class="uk-card-title -title_login" style="margin-bottom: 20px;">비밀번호 확인</h4>
        <p style="text-align: center;">기존 비밀번호를 입력해주세요</p>
        <br>
        <form class="form_login">
            <div class="uk-margin">
                <input style="display:none" type="text" id="for_prevent_enter">
                <input class="uk-input uk-width-1-2" type="password" id="user_password" autocomplete="off" placeholder="비밀번호">
            </div>
            <br><br>
            <button type="button" class="uk-button uk-button-primary uk-width-1-4" onclick="check_pw()"><span class="bigger">비밀번호 확인</span></button>
        </form>


    </div>
</div>



{% endblock %}