{% extends 'layout.html' %}
{% block contents %}

<link rel="stylesheet" href="{{ url_for('static', filename='./css/find_pw.css') }}">
<script src="{{ url_for('static', filename='./js/find_pw.js') }}"></script>

<title>당신의 프랜차이즈 | 비밀번호 찾기</title>
{% include 'header.html' %}


<div class="contents_find_pw">
    <div class="uk-card uk-card-default uk-card-body">
        <h4 class="uk-card-title -title_find_pw">비밀번호 찾기</h4>

            <table class="find_table uk-width-1-2">
                <tr>
                    <td>
                        <label for="id">아이디</label>
                    </td>
                    <td>
                        <input type="text" class="uk-input uk-width-1-1" id="id" autocomplete="off"> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="name">이름</label>
                    </td>
                    <td>
                        <input type="text" class="uk-input uk-width-1-1" id="name" autocomplete="off"> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="email">이메일</label>
                    </td>
                    <td>
                        <input type="text" class="uk-input uk-width-1-1" id="email" autocomplete="off"> 
                    </td>
                </tr>
               
            </table>
            <button class="uk-button uk-button-primary uk-width-1-5 -submit_button" onclick="find_pw()"><span class="bigger">비밀번호 찾기</span></button>
            <div class="hr uk-width-1-2"></div>
            <table class="help_util uk-width-1-2">
                <tr>
                    <td>
                        <a href="/find_id" class="uk-button uk-button-text">아이디 찾기</a>
                    </td>
                    <td>
                        <a href="/find_pw" class="uk-button uk-button-text">비밀번호 찾기</a>
                    </td>
                    <td>
                        <a href="/signup_terms" class="uk-button uk-button-text">회원가입</a>
                    </td>
                </tr>
            </table>


    </div>
</div>

{% endblock %}