</head>

<body>
    <div class='wrap'>
        <!-- 해드 (로고, 로그인 회원가입 장바구니 마이페이지 등)-->
        <div class="header">
            <div class="util_bar -frame">
                <ul class="util uk-list uk-link-text">
                    <li><a href="/login">로그인</a></li>
                    <div class="ver_line"></div>
                    <li><a href="/signup_terms">회원가입</a></li>
                    <div class="ver_line"></div>
                    <li><a href="/mypage">마이페이지</a></li>
                    <div class="ver_line"></div>
                    <li><a href="/vip">
                            <span class="vip">VIP</span>
                        </a></li>
                </ul>
            </div>
            <div class="logo -frame">
                <a href="/">
                    <img src="/static/images/logo_2.png">
                </a>
                <div class="search uk-margin right_in_nav">
                    <form class="uk-search uk-search-default">
                        <button onclick="" class="uk-search-icon-flip" uk-search-icon></button>
                        <input class="uk-search-input" type="search" placeholder="상호명 검색">
                    </form>
                </div>
            </div>
            <nav class="uk-navbar-container my_nav" uk-navbar>
                <div class="uk-navbar-left -frame">
                    <ul class="uk-navbar-nav">

                        <li>
                            <a class="uk-navbar-toggle" uk-navbar-toggle-icon href=""></a>
                            <div class="uk-navbar-dropdown -frame"
                                uk-drop="boundary: !nav; boundary-align: true; pos: bottom-justify; delay-hide: 100;">
                                <div class="uk-navbar-dropdown-grid uk-child-width-1-5 -frame" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-active"><a href="/search_brand">브랜드 검색</a></li>
                                            <li>&nbsp;</li>
                                            <li><a href="/search_brand">전체 브랜드</a></li>
                                            <li><a href="#">요식업</a></li>
                                            <li><a href="#">서비스업</a></li>
                                            <li><a href="#">도·소매업</a></li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-active"><a href="/fair">창업 박람회</a></li>
                                            <li>&nbsp;</li>
                                            <li><a href="#">COEX</a></li>
                                            <li><a href="#">SETEC</a></li>
                                            <li><a href="#">IFC</a></li>
                                            <li><a href="#">매장기기전문</a></li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-active"><a href="/partners">창업 파트너즈</a></li>
                                            <li>&nbsp;</li>
                                            <li><a href="#"></a></li>
                                            <li><a href="#">인테리어</a></li>
                                            <li><a href="#">간판</a></li>
                                            <li><a href="#">가구</a></li>
                                            <li><a href="#">디자인</a></li>
                                            <li><a href="#"></a></li>
                                            <li><a href="#">주방</a></li>
                                            <li><a href="#">POS</a></li>
                                            <li><a href="#"></a></li>
                                            <li><a href="#">세무사</a></li>
                                            <li><a href="#">노무사</a></li>
                                            <li><a href="#">보험</a></li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-active"><a href="#">창업뉴스</a></li>
                                            <li>&nbsp;</li>
                                            <li><a href="#">창업지원</a></li>
                                            <li><a href="#">창업교육</a></li>
                                            <li><a href="#">시설·공간</a></li>
                                            <li><a href="#">엑셀러레이팅</a></li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-active"><a href="#">내 주위 프랜차이즈</a></li>
                                            <li>&nbsp;</li>

                                            <li class="uk-active"><a
                                                    href="https://franchise.ftc.go.kr/main/subIndex/23.do">
                                                    가맹사업 <span style="color:coral">주요</span> 정보</a></li>
                                            <li>&nbsp;</li>

                                            <li class="uk-active"><a href="http://www.ikfa.or.kr/">
                                                    한국 프랜차이즈협회 바로가기</a></li>
                                            <li>&nbsp;</li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="/search_brand">브랜드 검색</a>
                            <div class="uk-navbar-dropdown -top_control" uk-dropdown="delay-hide: 100;">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a href="/search_brand">전체 브랜드</a></li>
                                    <li class="uk-nav-header_sub"><a href="#">요식업</a></li>
                                    <li><a href="#">서비스업</a></li>
                                    <li><a href="#">도·소매업</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="/fair">창업 박람회</a>
                            <div class="uk-navbar-dropdown -top_control" uk-dropdown="delay-hide: 100;">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a href="#">COEX</a></li>
                                    <li><a href="#">SETEC</a></li>
                                    <li><a href="#">IFC</a></li>
                                    <li class="uk-nav-header_sub"><a href="#">매장기기전문</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="/partners" id="search_me">창업 파트너즈</a>
                            <div class="uk-navbar-dropdown -top_control" uk-dropdown="delay-hide: 100;">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-nav-header -bold"><a href="#" onclick="partners_query(big, inte)">인테리어 파트너즈</a></li>
                                    <li><a href="#" onclick="partners_query(small, inte)">인테리어</a></li>
                                    <li><a href="#" onclick="partners_query(small, sign)">간판</a></li>
                                    <li><a href="#" onclick="partners_query(small, furniture)">가구</a></li>
                                    <li><a href="#" onclick="partners_query(small, design)">디자인</a></li>
                                    <li class="uk-nav-header -bold"><a href="#" onclick="partners_query(big, machine)">매장기기 파트너즈</a></li>
                                    <li><a href="#" onclick="partners_query(small, kitchen)">주방</a></li>
                                    <li><a href="#" onclick="partners_query(small, pos)">POS</a></li>
                                    <li class="uk-nav-header -bold"><a href="#" onclick="partners_query(big, law)">법률 파트너즈</a></li>
                                    <li><a href="#" onclick="partners_query(small, tax)">세무사</a></li>
                                    <li><a href="#" onclick="partners_query(small, labor)">노무사</a></li>
                                    <li><a href="#" onclick="partners_query(small, insurance)">보험</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#">창업뉴스</a>
                            <div class="uk-navbar-dropdown -top_control" uk-dropdown="delay-hide: 100;">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a href="#">창업지원</a></li>
                                    <li><a href="#">창업교육</a></li>
                                    <li><a href="#">시설·공간</a></li>
                                    <li><a href="#">엑셀러레이팅</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="uk-active">
                            <a href="#">내 주위 프랜차이즈</a>
                        </li>
                        <li class="uk-active little_right">
                            <a href="/vip"><span class="vip">VIP</span> &nbsp;서비스 바로가기</a>
                        </li>
                </div>
            </nav>
        </div>
