{% extends 'layout.html' %}

{% block contents %}
<div class="contents_login">
    <div class="uk-card uk-card-default uk-card-body -height">
        <h4 class="uk-card-title -title_login">로그인</h4>
        <form class="form_login">
            <div class="uk-margin">
                <input class="uk-input uk-width-1-2" type="text" id="user_id" autocomplete="off" placeholder="아이디">
            </div>
            <div class="uk-margin">
                <input class="uk-input uk-width-1-2" type="password" id="user_password" autocomplete="off" placeholder="비밀번호">
            </div>

            <button type="button" class="uk-button uk-button-primary uk-width-1-4" onclick="login()"><span class="bigger">로그인</span></button>
            <div class="hr uk-width-1-2"></div>
            <div class="help_util uk-width-1-2">
                <ul class="uk-subnav uk-subnav-divider" uk-margin>
                    <li>
                        <button class="uk-button uk-button-text">아이디 찾기</button>
                    </li>
                    <li>
                        <button class="uk-button uk-button-text">비밀번호 찾기</button>
                    </li>
                    <li>
                        <a class="uk-button uk-button-text" href="/signup_terms">회원가입</a>
                    </li>
                </ul>
            </div>
        </form>


    </div>
</div>


{% endblock %}