{% extends 'layout.html' %}

{% block contents %}

 <div class="contents_signup">
            <div class="uk-card uk-card-default uk-card-body">
                <h4 class="uk-card-title -title_signup">회원가입</h4>
                <form class="form_signup" autocomplete="off">
                    <div class="signup_row">
                        <h3 class="signup_title">
                            <label for="id">아이디</label>
                        </h3>
                        <input type="text" id="id" class="uk-input -size_control">
                        <button class="uk-button uk-button-default i_c id_check"  onclick="id_check()">중복 확인</button>
                        <button class="uk-button uk-button-default i_c id_check_done -display_for_signup" uk-tooltip="사용가능한 아이디입니다">중복 확인</button>
                    </div>
                    <div class="signup_row">
                        <h3 class="signup_title">
                            <label for="password">비밀번호</label>
                        </h3>
                        <input type="password" id="password" class="uk-input -size_control">
                    </div>
                    <div class="signup_row">
                        <h3 class="signup_title">
                            <label for="password_check">비밀번호 재확인</label>
                        </h3>
                        <input type="password" id="password_check" class="uk-input for_check -size_control">
                    </div>
                    <br>
                    <div class="signup_row">
                        <h3 class="signup_title">
                            <label for="name">이름</label>
                        </h3>
                        <input type="text" id="name" class="uk-input -size_control">
                    </div>
                    <div class="signup_row">
                        <h3 class="signup_title">
                            <label for="yymmdd">생년월일</label>
                        </h3>
                        <select class="uk-select yymmdd-size_control_2x" id="yy">
                            <option value="unselected">년</option>
                        </select>
                        <select class="uk-select yymmdd-size_control" id="mm">
                            <option value="unselected">월</option>
                        </select>
                        <select class="uk-select yymmdd-size_control" id="dd">
                            <option value="unselected">일</option>
                        </select>
                    </div>
                    <div class="signup_row">
                        <h3 class="signup_title">
                            <label for="gender">성별</label>
                        </h3>
                        <select class="uk-select -size_control" id="gender">
                            <option value="unselected" selected>성별</option>
                            <option value="male">남자</option>
                            <option value="female">여자</option>
                        </select>
                    </div>
                    <div class="signup_row">
                        <h3 class="signup_title">
                            <label for="email">이메일 
                                <span class="-small_signup">(뉴스레터·본인확인 시 사용)</span>
                            </label>
                        </h3>
                        <input type="text" id="email" class="uk-input -size_control">
                    </div>
                    <div class="signup_row">
                        <h3 class="signup_title">
                            <label for="phone">휴대전화</label>
                        </h3>
                        <select class="uk-select telecom-size_control" id="telecom">
                            <option value="unselected" selected>통신사</option>
                            <option value="skt">SKT</option>
                            <option value="kt">KT</option>
                            <option value="lg">LGU+</option>
                            <option value="skt_egg">SKT 알뜰폰</option>
                            <option value="kt_egg">KT 알뜰폰</option>
                            <option value="lg_egg">LGU+ 알뜰폰</option>
                        </select>
                        <input type="number" id="phone" class="uk-input phone-size_control">
                    </div>
                    <br><br>
                    <div class="signup_row">
                        <a onclick="signup()" class="uk-button uk-button-primary -size_control">가입하기</a>
                    </div>

                </form>
            </div>
        </div>
{% endblock %}