<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="one">
        <h5>
            서버에 app.py(Flask) + mongoDB  올리기
        </h5>
        <p>
            서버용 컴퓨터 6주차-8
            내컴퓨터에서 id_pw
        </p>
    </div>
    <div class="one">
        <h5>
            구글링 (새로운 정보를 찾을때 매커니즘)
        </h5>
        <p>
            error message
             -
            나랑 내가 겪은 어려움은 똑같은 경ㅇ험을 한 사람이 있다
            ENG
        </p>
    </div>
    <div class="one">
        <h5>
            Robots.txt 같이 주의할 점
        </h5>
        <p>
            .
        </p>
    </div>
    <div class="one">
        <h5>
            Mysql + MongoDB
        </h5>
        <p>
            서버에서 /x /y /z -> Mysql || /a /b /c  -> MongoDB
        </p>
    </div>
    <div class="one">
        <h5>
            MIT License
        </h5>
        <p>
            .
        </p>
    </div>
    <div class="one">
        <h5>
            휴대폰 인증 (session?)
        </h5>
        <p>
            property로 
            'login': okay
        </p>
    </div>
    <div class="one">
        <h5>
            결재 (이니시스 등 온라인 결제)
        </h5>
        <p>
            **** API ****
            사업자인증번호
            온라인
            신용카드

        </p>
    </div>
    <div class="one">
        <h5>
            구글 뭐더라 (트래픽 측정)
        </h5>
        <p>
            .
        </p>
    </div>
    <div class="one">
        <h5>
            지도 (위도 경도) (or Framework)
        </h5>
        <p>
            위도경도 검색 API
                위도경도 뱉어주는애
            2. 위도경도 찍어주는 API
            https://apis.map.kakao.com/web/sample/addMapClickEventWithMarker/
        </p>
    </div>
</body>
</html>